:root {
  font-family: monospace;
  line-height: 1.5;
  font-weight: 600;

  color-scheme: light;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  background-color: #FFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  width: 100%;
}

header {
  width: 100%;
  height: 3pc;
  background-color: orange;
}

header,
a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-family: Arial Black;
}

/* to do list input form */

li {
  width: 100%;
}

input {
  width: 90%;
  padding: 15px;
  margin-bottom: 20px;
  margin-left: 10px;
  border: 2px solid black;
  border-radius: 10px;
}

input:hover {
  border: 2px solid green;
}

.caption {
  color: grey;
  text-align: center;
}

/* button having the value add */
#submit {
  padding: 10px;
  border-radius: 10px;
  background-color: grey;
  color: white;
  font-size: 9px;
  font-family: Arial Black;
  width: 5% !important;
}

/* Other delete buttons */

button {
  padding: 10px;
  border-radius: 10px;
  background-color: grey;
  color: white;
  font-size: 9px;
  font-family: Arial Black;
}

li {
  border-bottom: 0.2px solid black;
  color: black;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#clist {
  float: right;
  padding: 7px !important;
}

#addl {
  padding: 20px;
}